/* https://css-tricks.com/almanac/properties/b/border-radius/ */

QObject
{
	padding: 0;
  margin: 0;
}

QWidget
{
  background-color: black;
  
  font-size: 20px;
  outline: none;
}

/**** QPushButton (enabled) ****/
QPushButton
{
  background-color:rgba(0, 0, 0, 50%);
  padding: 0;
  margin: 0;
  /*border: 3px solid rgb(255,255,255);*/
}